<%= form_for(@paypal, :html => { :multipart => true }, :url => { :action => "paypal" }) do |f| %>
  <% if @paypal.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@paypal.errors.count, "error") %> prohibited this product from being saved:</h2>
    <ul>
    <% @paypal.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :signature %><br />
    <%= f.text_field :signature %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>