<%= 
  auto_discovery_link_tag(
    :rss, {:action => 'index', :format => 'rss'}, {:title => @title}
  )
%>

<div id="fullContent" style="text-align: center;">
		<h1>
			<a href="/store">Store</a>
			<%
				# Show breadcrumb navigation for store
				tag_name_list = Array.new

               if @tag_names then
				for tag in @tag_names
					tag_name_list << tag
			%>
				&gt;
				<%= link_to tag, :controller => 'store', :action => 'show_by_tags', :tags => tag_name_list %>

			<% end
               end	%>
		</h1>
	
	<%= will_paginate @products %>

	<!-- PRODUCTS LIST -->
	<%= render :partial => 'product', :collection => @products %>


  <% if @products.length == 0 then %>
    <p>
      Sorry, no products to show in this view.
    </p>
  <% end %>

	<%= will_paginate @products %>


            <% if @tag_sizes then %>
              <br />
              <div class="pagination">
                Shop by size:
                <% for tag in @tag_sizes do %>
                    <%= link_to tag.name, :controller => 'store', :action => 'show_by_tags', :tags => tag.name %>
            <%     end
               end %>
              </div>

  <br/>
	<!-- takes up space so we can see the bottom content on this page -->
	<div id="bottomSpacer">&nbsp;</div>
</div>

<div class="clear">&nbsp;</div>
