<%= 
  auto_discovery_link_tag(
    :rss, {:action => 'index', :format => 'rss'}, {:title => @title}
  )
%>

<div id="fullContent" style="text-align: center;">
		<h1>
			<a href="/store">Store</a>
			<%
				# Show breadcrumb navigation for store
				tag_name_list = Array.new

               if @tag_names then
				for tag in @tag_names
					tag_name_list << tag
			%>
				&gt;
				<%= link_to tag, :controller => 'store', :action => 'show_by_tags', :tags => tag_name_list %>

			<% end
               end	%>
		</h1>



	<%= will_paginate @products %>

  <table>
    <tr>
      <td>

      <div style="text-align:left;">
        <% for tag in Tag.find_ordered_parents do %>
            <h3><%= tag.name %>:</h3>
            <% for tag_child in Tag.find_all_by_parent_id tag.id      %>
                <%= link_to tag_child.name, :controller => 'store', :action => 'show_by_tags', :tags => tag_child.name %><br />
            <% end %>
            <br />
        <% end %>
      </div>
      </td>
      <td style="text-align:center;">

	<!-- PRODUCTS LIST -->
	<%= render :partial => 'product', :collection => @products %>
      </td>
    </tr>
  </table>



  <% if @products.length == 0 then %>
    <p>
      Sorry, no products to show in this view.
    </p>
  <% end %>

	<%= will_paginate @products %>



  <br/>
	<!-- takes up space so we can see the bottom content on this page -->
	<div id="bottomSpacer">&nbsp;</div>
</div>

<div class="clear">&nbsp;</div>
