<!DOCTYPE html>
<html>
<head>
  <title>ProjectRepat</title>

  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.2.0/build/cssgrids/grids.css" />
  <!--<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.2.0/build/cssreset/reset-min.css" />
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.2.0/build/cssbase/base-min.css" />-->

  <style type="text/css">

body {
  margin: auto; /* center in viewport */
  width: 850px;
}
a {
  color: #55B9ED;
  font-size: 20px;
}
.item img {
  border: 4px solid #CBE8FF;
  height: 150px;
  width: 125px;
  margin-bottom: 5px;
  padding: 1px;
}

.main {
  background-image: url(/images/page_bg.png);
  background-attachment: scroll;
  
}
.footer {
  background-image: url(/images/footer_bg.png);
  background-attachment: scroll;
  height: 45px;
  padding-left: 20px;
}
.header {
  background-image: url(/images/repat_header.png);
  background-attachment: scroll;
  height: 125px;
}
.headerlinks {
  padding-top: 70px;
  padding-left: 285px;
}
.headerlinks a{
  color: #ff3333;
  font-size: 16px;
  font-weight: bold;
  font-family:  "Arial Black", sans-serif;
  text-decoration: none;
  padding-left: 10px;
  width: 50px;
}
.repattag {
  background-image: url(/images/repat_tag.png);
  background-attachment: scroll;
  height:486px;
  width:250px;
}
  </style>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

  <%= csrf_meta_tag %>


  
</head>
<body>
  <div class="yui3-g main">
    <div class="yui3-u-1-24 leftpading">
      <div class="content">

      </div>
    </div>
    <div class="yui3-u-11-12">
      <div class="yui3-u-1">
        <div class="content header">
          <div class="headerlinks">
            <%= link_to 'BUY A SHIRT', root_path %>
            <%= link_to 'REPAT STORY', about_path %>
            <%= link_to 'BE AN AGENT', history_path %>
          </div>
        </div>
      </div>
      
      <div class="yui3-u-1">
        <div class="content"><br /></div>
      </div>
      <%= yield %>
    </div>
    <div class="yui3-u-1-24 rightpading">
      <div class="content">

      </div>
    </div><div class="yui3-u-1 footer">
      <div class="content">
        <a href="http://www.facebook.com/pages/smallbean/136433237207" target="_TOP" style="border: 0px;color: #3B5998;font-family: verdana;font-size: 12px;font-weight: bold;margin: 0px;padding: 0px;text-decoration: none;" title="smallbean">
          <img src="http://www.facebook.com/images/fb_logo_small.png" alt="Facebook"/>
        </a>
        <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="smallbeanorg">Tweet</a>
        <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

            <% if user_signed_in? %>
              <%= link_to 'Admin' %> |
              Signed in as <%= current_user.email %>
              <%= link_to "Sign out", destroy_user_session_path %>
            <% end  %>
      </div>
    </div>
  </div>
</body>
</html>
